# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logs
*.log

# Ignored folders
Tech Tapper\Logs
Tech Tapper\Temp

# idk
PackageCache/*.meta
Tech Tapper/Library/ArtifactDB
Tech Tapper/Library/SourceAssetDB
Tech Tapper/ProjectSettings/TimelineSettings.asset
Tech Tapper/Library/CurrentLayout-default.dwlt
Tech Tapper/Library/EditorInstance.json
Tech Tapper/Library/EditorSnapSettings.asset
Tech Tapper/Library/LastSceneManagerSetup.txt
Tech Tapper/Library/SceneVisibilityState.asset

Tech Tapper/Temp/workerlic
Tech Tapper/Temp/UnityLockfile
